<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Guestbook</title>
  <link rel="stylesheet" href="{{getStylePath}}">
  <link rel="icon" href="{{getFaviconPath}}" type="image/png">
</head>
<body>
  <div class="wrapper">
    <header>
      <nav class="navbar center-align">
        <ul class="navbar-container">
          <li class="navbar-item"><a href="/">Home</a></li>
          <li class="navbar-item"><a href="/comments">Comments</a></li>
        </ul>
      </nav>
      <div class="logo">
        <img src="{{getFaviconPath}}" alt="logo">
      </div>
    </header>