{{>header}}

  <div>
    <h1 class="center-align">Guestbook</h1>
    <form class="form" action="/comments" method="post">
      <input required type="text" name="name" id="name" class="form-item" placeholder="Name">
      <input required type="email" name="email" id="email" class="form-item" placeholder="Email">
      <textarea required class="form-item v-resize" name="comment" id="comment" rows="3" placeholder="Add comment here..."></textarea>
      <input type="submit" value="Add Comment" class="form-submit">
    </form>
  </div>

{{>footer}}